body {
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}
a {
  color: map-get($theme-colors, "primary" );
  &:hover {
    color: map-get($theme-colors, "secondary" );
  }
}

.custom {
  &__img {
    a {
      // a 為行內屬型
      display: block;
      overflow: hidden;
    }
    img {
      object-fit: cover;
      transition: 2.5s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}